
<div class="row">
   <div class="col-md-4"></div>
   <div class="col-md-4"> <form action="" method="" class="register-form"> 
     
              <label for="firstName">User NAME</label>
               <input name="firstName" class="form-control" ng-model="userData.userName" type="text">    
          
              <label for="email">EMAIL</label>
               <input name="email" class="form-control" type="email" ng-model="userData.email">             
           
              <label for="password">PASSWORD</label>
               <input name="password" class="form-control" type="password" ng-model="userData.password">             
          
      <hr>
    
          <div class="text-center">
           <button class="btn btn-primary" ng-click="createUser()">Sign up</button>           
           </div>
    </form>
   <div class="col-md-4"></div>

</div>
